body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(
      217deg,
      rgb(178, 180, 232),
      rgba(178, 180, 232, 0) 80%
    ),
    linear-gradient(127deg, rgb(130, 212, 187), rgba(130, 212, 187, 0) 80%),
    linear-gradient(336deg, #ffc15e, rgba(255, 193, 94, 0) 80%);
}
