body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(127deg, #646e78, #646e7800 80%),
    linear-gradient(217deg, #0f084b, #0f084b00 80%),
    linear-gradient(336deg, #dcccbb, #dcccbb00 80%);
}
