section {
  width: 70%;
  height: 50%;
  border-radius: 30px;
  box-shadow: 8px 8px 20px 8px #7090b0;
  background-color: rgba(245, 245, 245, 0.598);

  h1,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
