@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Outline&display=swap");

.hello {
  h1 {
    font-family: "Bungee Hairline", cursive;
    font-size: 100px;
    text-align: center;
    color: white;
  }

  .links {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
  }

  a {
    color: white;
  }
}
